.entryViewer {
	padding: 0.2em;
	display: flex;
	width: 100%;
	border-top: 1px solid black;
	transition: background-color 100ms ease-in;
}
.entryViewer:hover {
	border-radius: 0.5em;
	border: 1px solid;
}
.entryViewer:hover + .entryViewer {
	border: none;
}
.entryViewer > button {
	align-self: flex-start;
	justify-self: flex-end;
	margin-left: auto;
}
.entryAmount {
	padding: 0.5em;
}

.entryDescription {
	padding: 0.5em;
	word-break: break-all;
}

.entryDate {
	padding: 0.5em;
	align-self: center;
	font-family: monospace;
}
.green {
	color: #00bf2b;
	background-color: #00bf2d3d;
}

.red {
	color: red;
	background-color: rgba(255, 0, 0, 0.221);
}

.red,
.green {
	border-radius: 0.5em;
	font-weight: 500;
	white-space: nowrap;
	width: max-content;
	height: min-content;
}
