.entryViewer {
	padding: 0.2em;
	display: flex;
	width: 100%;
	/* justify-content: space-between; */
	border-top: 1px solid rgba(255, 255, 255, 0.121);
}
.entryViewer > button {
	/* align-self: flex-end; */
	/* justify-self: end; */
	align-self: flex-start;
	justify-self: flex-end;
	margin-left: auto;
}
.entryAmount {
	padding: 0.5em;
}

.entryDescription {
	padding: 0.5em;
}

.entryDate {
	padding: 0.5em;
	font-family: monospace;
}
.green {
	color: rgb(23, 212, 23);
}

.red {
	color: red;
}
