.inputArea {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* border: 1px solid white; */
}

.inputLabel {
	/* align-self: flex-start; */
	margin: 1em 0.5em;
}

.inputField {
	padding: 1em;
	margin: 0.5em;
	background-color: black;
	border: 1px solid rgba(255, 255, 255, 0.43);
	border-radius: 0.5em;
}
.inputButton {
	width: 100%;
}
.inputButtonArea {
	display: flex;
}
