.inputArea {
	width: 100%;
	height: auto;
	display: flex;
	flex: 1;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.052);
	margin: 1em;
	padding: 0.5em;
	border-radius: 5mm;
	border-bottom: rgba(var(--secondary), 0.5) 1px solid;
}

.inputLabel {
	/* align-self: flex-start; */
	margin: 1em 0 0 1em;
}

.inputField {
	padding: 1em;
	margin: 0.5em;
	background-color: rgba(255, 255, 255, 0.241);
	border: 1px solid rgba(0, 0, 0, 0.262);
	border-radius: 0.5em;
	outline: none;
	transition: 100ms border-color ease-in;
}
.inputField:focus:not(:focus-visible) {
	outline: none;
}
.inputField:focus-within {
	border: rgba(var(--primary), 1) 1px solid;
}

.inputButton {
	width: 100%;
}
.inputButtonArea {
	display: flex;
}
.recentEntriesWindow {
	/* border: 1px solid white; */
	width: 100%;
	flex: 1;
	display: flex;
	padding: 0.5em;
	/* background-color: rgba(135, 135, 135, 0.067); */
	flex-direction: column;
	border-top: rgba(var(--secondary), 0.5) 1px solid;

	border-radius: 5mm;
}

.recentEntriesTitle {
	align-self: center;
	font-size: 1.2em;
	text-transform: capitalize;
	font-weight: 500;
	/* text-decoration: underline; */
	margin-bottom: 1em;
}

.entriesWrapper {
	padding: 0 1em;
}

.refreshIcon {
	width: 1em;
	height: 1em;
	cursor: pointer;
	/* filter: invert(1); */
	transition: transform 300ms ease-in-out;
}

.refreshIcon:hover {
	transform: rotate(270deg);
}
