.container {
	display: flex;
	height: 100%;
	width: 95%;
	flex-direction: column;
	justify-content: space-between;
	max-width: 15cm;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
