.loginPage {
	color: white;
	padding: 2mm;
	width: 100%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	flex-direction: column;
	max-width: 15cm;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* justify-content: space-between; */
	height: 100%;
	padding: 2mm;
}
.inputField {
	background-color: black;
	border: 1px solid rgba(255, 255, 255, 0.45);
	outline: none;
	color: #fff;
	padding: 3mm 4mm;
	border-radius: 2mm;
	margin: 2mm 0;
	transition: border-color 200ms ease-in;
	transition: padding 150ms ease-in;
	width: 100%;
}

.inputField:focus {
	border: 1px solid rgba(255, 255, 255, 0.715);
	padding: 4mm;
	/* font-size: 1.1em; */
}
.label {
	color: #fff;
	margin-top: 2mm;
}
.changeWindowPrompt {
	color: rgba(255, 255, 255, 0.7);
	margin-top: 2mm;
	font-size: 1.2rem;
}

.changeWindowLink {
	color: orange;
	font-weight: 500;
}
