.navbar {
	color: #fff;
	display: flex;
	position: fixed;
	bottom: 0;
	/* border-radius: 0.5em; */
	/* justify-content: space-around; */
	flex-direction: column;
	left: 0;
	top: 0;
	height: 100%;
}

@media (max-width: 800px) {
	.navbar {
		width: 100%;
		border-radius: 0;
		flex-direction: row;
		/* align-items: baseline; */
		bottom: 0px;
		top: auto;
		height: auto;

		/* max-width: 50em; */
	}
	.listItem:nth-last-child(1) {
		height: auto !important;
	}
}
.listItem {
	display: flex;
	list-style: none;
	padding: 1rem 1.5em;
	width: 100%;
	justify-content: space-around;
	border: 1px solid rgba(255, 255, 255, 0.14);
	/* border-radius: 1mm; */
	transition: 200ms background-color ease-in;
	transition: 150ms color ease-in;
	background-color: rgb(var(--primary));
	/* display: flex; */
	/* padding: 5mm; */
}
.listItem:nth-last-child(1) {
	height: 100%;
	align-items: flex-end;
}
.listItem:hover {
	color: white;
}

.listItem:hover {
	backdrop-filter: blur(5px);
	background-color: rgba(var(--primary), 0.5);
}

.navIcon {
	filter: invert();
}

.listItem:hover > .navIcon {
	filter: none;
}
