.searchWindow {
	width: 100%;
	padding: 1em;
}
.searchBar {
	margin: 1em 0;
	display: flex;
	background-color: #0f0f0f;
	border-radius: 0.5em;
	position: sticky;
	top: 1em;
}

.mainInput {
	width: 100%;
	background-color: #0f0f0f;

	border: 1px solid rgba(255, 255, 255, 0.044);
	outline: none;
	padding: 0.5em 1em;
	font-size: 1.2em;
	border-right: none;
	border-radius: 0.5em 0 0 0.5em;
}
.mainInput:focus:not(:focus-visible) {
	outline: none;
}
.mainInput:focus-within {
	border: 1px solid rgba(255, 255, 255, 0.2);
}
transp